#banner
  .banner_content
    %h1 File cabinet
    %p Your life's work path
    %button= link_to "Enter", new_user_registration_path


#callout
  .callout_inner
  .wrapper
    .callout
    %h2 Organize
    %p Lorem ipsum dolor amet edison bulb everyday carry tbh tousled seitan. Flexitarian fingerstache tumblr roof party quinoa gluten-free pug small batch kickstarter. Mlkshk kickstarter master cleanse, slow-carb vice try-hard sartorial chia truffaut swag cardigan jianbing. Synth yuccie readymade godard echo park vinyl next level flannel chambray letterpress master cleanse wayfarers. Vinyl literally affogato health goth pork belly, cardigan ramps direct trade hella copper mug flannel. Vinyl freegan direct trade tousled. Selvage kinfolk pitchfork, shoreditch woke actually farm-to-table hoodie meh knausgaard.


#bottom_cta
  .wrapper
    %h2 Go Ahed!
    %br
    %button= link_to "Join", new_user_registration_path  	  	
